@model IEnumerable<bestillingsformularForBiludlejningsfirmaH3.Entities.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingTimestampEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingTimestampStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingVehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTimestampEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTimestampStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingContact.BookingContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingVehicle.BookingVehicleId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
