@model IEnumerable<bestillingsformularForBiludlejningsfirmaH3.Entities.BookingsContact>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingContactFullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingContactPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingContactFullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingContactPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingContactId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingContactId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingContactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
